
/* =========== RESET STYLING ============ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


:root{
    --GreenColor : #2B613A;
    --GreyColor: #D1CDC4;
    --WhiteColor:#fff;
    --BlackColour:#000;

    --ContainerPadding:0px 40px;
}

.text-center{
    text-align: center;
}

.d-flex{
    display: flex;
}


.d-flex-middle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex-between{
     display: flex;
    align-items: center;
    justify-content: space-between;
}

p{
    font-size: 16px;
    letter-spacing: .4px;
    font-weight: 300;
}

.text-white{
    color: var(--WhiteColor);
}

.container{
    padding: var(--ContainerPadding);
}

/* =========== HEADER ============ */

.topbar{
    background-color: var(--GreenColor);
    padding-block: 5px;
}

.topbar p{
    font-size: 13px;
}

.logobox img{
    width: 80%;
}

.headerMenuList li{
    margin: 0px 10px;
}

.headerRightIcons i{
    font-size: 18px;
}

.headerMenuList a {
    font-size: 15px;
    letter-spacing: 0.6px;
    font-weight: 300;
    color: var(--BlackColour);
}

/* =========== HEADER ============ */


/* =========== HERO ============ */

.hero{
    background-image: url(../images/banner/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: end;
}

a.bannerButton {
    background: var(--WhiteColor);
    padding: 10px 40px;
    margin-bottom: 60px;
    display: inline-block;
    margin-top: 15px;
    color: var(--BlackColour);
    font-weight: 500;
}

a.bannerButton:hover{
    background-color: transparent;
    border: 1px solid var(--WhiteColor);
    color: var(--WhiteColor);
}

.heroInner h1 {
    font-size: 50px;
    font-weight: 500;
}
/* =========== HERO ============ */


/* =========== PRODUCT CARDS ============ */

#productSectionOne{
    padding-block: 40px;
}

.productInner{
    width: 32%;
}

.productInner img{
    width: 100%;
}

.productParentBox{
    justify-content: space-between;
}

.cartButton {
    width: 100%;
    background: var(--GreenColor);
    border: none;
    padding-block: 8px;
    color: var(--WhiteColor);
    /* display: none; */
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}

.productHoverFunction{
    position: relative;
}

.cartButton:hover{
    cursor: pointer;
    background-color: #3e8d54 ;
}

.productHoverFunction:hover .cartButton{
    display: block;
}

.videoLeft img {
    width: 100%;
}

.videoLeft {
    width: 30%;
}

#inspired img{
    width: 100%;
}

.insipredOuter{
    justify-content: space-between;
}

#inspired .container{
    padding-right: 0px;
}

.videoRight{
    height: 450px;
    width: 50%;
}

.videoRight img{
    height: 450px;
}

.videoLeft {
    width: 30%;
    margin-left: 150px;
}

#inspired p{
    margin-bottom: 30px;
    margin-top: 30px;
}

#inspired h2{
    font-size: 40px;
    font-weight: 500;
}

/* =========== PRODUCT CARDS ============ */

